<!-- <div  class="utility-tile col-md-6"> -->
    <div class="row" id="charts-title">
        <div class="col-md-6">
            <p class="utility-name"><%= utilityName %></p>
        </div>
    </div>
    <div class="row" id="charts-header">
        <div class="col-md-4">
            <p class="column-label">Last 90 Days</p>
        </div>
        <div class="col-md-4">
            <p class="column-label">Week Total</p>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row" id="email-open">
        <div class="spark col-md-4">
            <svg></svg>
        </div>
        <div class="total col-md-4">
        </div>
        <div class="event-type col-md-4">
            <p class="measure-label">Email Open Rate</p>
        </div>
    </div>
    <div class="row" id="email-click">
        <div class="spark col-md-4">
            <svg></svg>
        </div>
        <div class="total col-md-4">
        </div>
        <div class="event-type col-md-4">
            <p class="measure-label">Email Click Rate</p>
        </div>
    </div>
    <div class="row" id="signup">
        <div class="spark col-md-4">
            <svg></svg>
        </div>
        <div class="total col-md-4">
        </div>
        <div class="event-type col-md-4">
            <p class="measure-label">Signups</p>
        </div>
    </div>
    <div class="row" id="login">
        <div class="spark col-md-4">
            <svg></svg>
        </div>
        <div class="total col-md-4">
        </div>
        <div class="event-type col-md-4">
            <p class="measure-label">Logins</p>
        </div>
    </div>
    <div class="row" id="tip">
        <div class="spark col-md-4">
            <svg></svg>
        </div>
        <div class="total col-md-4">
        </div>
        <div class="event-type col-md-4">
            <p class="measure-label">Tips Completed</p>
        </div>
    </div>
    <div class="row" id="reward">
        <div class="spark col-md-4">
            <svg></svg>
        </div>
        <div class="total col-md-4">
        </div>
        <div class="event-type col-md-4">
            <p class="measure-label">Rewards Redeemed</p>
        </div>
    </div>
<!--</div>-->
